################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/Win32/Debug
/Release
/Win32/Release
/x64/Release
/x64/Debug
/.vs
