################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/Debug
/Release
/Win32/Debug
/Win32/Release
/x64/Debug
/x64/Release
